name: Deploy From Any Branch

on:
  push:
    branches:
      - '**'

jobs:
  call-deploy:
    if: |
      github.ref != 'refs/heads/main' &&
      github.ref != 'refs/heads/sharedflow-proxy-plugin/deploy' &&
      github.ref != 'refs/heads/resources-plugin/deploy'
    runs-on: ubuntu-latest
    steps:
      - name: Print variable
        run: echo "${{ github.head_ref }}"
