name: Deploy From Any Branch

on:
  push:
    branches:
      - '**'

jobs:
  call-deploy:
    if: |
      github.ref_name != 'main' &&
      github.ref_name != 'master' &&
      github.ref_name != 'sharedflow-proxy-plugin/deploy' &&
      github.ref_name != 'resources-plugin/deploy'

    uses: main.yaml
    with:
      branch: ${{ github.ref_name }}
