name: Deploy From Any Branch

on:
  push:
    branches:
      - '**'

jobs:
  call-deploy:
    if: |
      github.ref != 'refs/heads/main' &&
      github.ref != 'refs/heads/sharedflow-proxy-plugin/deploy' &&
      github.ref != 'refs/heads/resources-plugin/deploy'
    -steps:
      -uses: echo ${{ github.ref }}
      -uses: ./.github/workflows/main.yaml
        with:
          branch: ${{ github.ref_name }}
